<desk-header></desk-header>
<section class="container-fluid">
    <div class="loginWrapper">
        <form>
            <div class="form-group loginForm">
                <label>User ID</label>
                <input type="text" class="form-control input-lg" placeholder="User ID">
            </div>
            <div class="form-group loginForm">
                <label>Password</label>
                <input type="password" class="form-control input-lg" placeholder="Password">
            </div>
            <div class="form-group">
                <a href="">*forgot password</a>
            </div>
            <hr/>
            <div class="form-group loginForm">
                <button class="btn btn-primary">Login</button>
                <a class="btn btn-warning" href="#/home">Cancel</a>
            </div>
        </form>
    </div>
</section>
<!--<desk-footer></desk-footer>-->
