<desk-header></desk-header>
<section class="container" style="margin-top: 50px">

    <div class="row">
        <div class="col-sm-4">
            <div class="tile purple">
                <h3 class="title"><a href="#/templateForm">Template List</a></h3>
                <p>{{counterData.templatesCount}}</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="tile red">
                <h3 class="title"><a href="#/masterCategory">Category List</a></h3>
                <p>{{counterData.categoriesCount}}</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="tile orange">
                <h3 class="title"><a href="#/masterPrinciple">Principle List</a></h3>
                <p>{{counterData.principlesCount}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="tile green">
                <h3 class="title"><a href="#/masterQues">Questionnaire</a></h3>
                <p>{{counterData.questionnaireCount}}</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="tile blue">
                <h3 class="title"><a href="#masterTeam">Team List</a></h3>
                <p>{{counterData.teamsCount}}</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="tile blue">
                <h3 class="title"><a href="#/registerUser">Register User</a></h3>
                <p>{{counterData.usersCount}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="tile orange">
                <h3 class="title"><a href="">Get Task</a></h3>
                <p>{{counterData.tasksCount}}</p>
            </div>
        </div>
    </div>
</section>

