<desk-header></desk-header>
<section class="container" style="margin-top: 50px">

    <div class="row">
        <div class="col-sm-4">
            <div class="tile purple">
                <h3 class="title"><a href="#/templateForm">Template List</a></h3>
                <p>0</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="tile red">
                <h3 class="title"><a href="#/masterCategory">Category List</a></h3>
                <p>0</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="tile orange">
                <h3 class="title"><a href="#/masterPrinciple">Principle List</a></h3>
                <p>0</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="tile green">
                <h3 class="title"><a href="#/masterQues">Questionnaire</a></h3>
                <p>0</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="tile blue">
                <h3 class="title"><a href="#masterTeam">Team List</a></h3>
                <p>0</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="tile blue">
                <h3 class="title"><a href="#/registerUser">Register User</a></h3>
                <p>0</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="tile orange">
                <h3 class="title"><a href="#/taskAssignments">Get Task</a></h3>
                <p>0</p>
            </div>
        </div>
    </div>

</section>

