<desk-header></desk-header>
<script>
    $(".pageWrapper").addClass("hidden");

</script>
<section class="container-fluid">
    <div class="container" style="margin-top: 20px; max-height: 600px; overflow-y: scroll" ng-show="transformForm" >
        <table class="table table-bordered table-hover table-condensed" >
            <tr style="font-weight: bold">
                <td style="width:35%">Category Name</td>
                <td style="width:25%">Edit</td>
            </tr>
            <tr ng-repeat="user in usersData">
                <td>
                    <span editable-text="user.catergoryName" e-name="description" e-form="rowform">
                      {{ user.catergoryName || 'empty' }}
                    </span>
                </td>
                <td style="white-space: nowrap">
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button class="btn btn-default material_btn material_btn_primary"
                                ng-click="assesmentForm(user)">
                            Assessment
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="asessmentFormWrapper" ng-hide="transformForm">
        <a href="#/assessmentForm"> Back to main Category</a>
        <div class="row">
            <button class="repeatAnimation btn btn-{{categoryColor}}" ng-repeat="data in userSelectedData"
                    style="margin: 10px; height: 100px; width: 100px"
                    ng-click="selectedChange(data.questionnaireList, data.principleName)">{{data.templateName}}
            </button>
        </div>
    </div>

    <div class="asessmentFormWrapper" ng-hide="appendForm">
        <div class="panel panel_border">
            <div class="panel-heading panel_blue">
                Self Assessment Form Screen
            </div>
            <div class="panel-body">
                <div ng-repeat="data in userSelectedQue">

                    <div class="form-group">
                        <label>{{data.name}}</label>
                    </div>
                    <div class="form-group">
                        <form action='' enctype='multipart/form-data' method='post'>
                            <input name='file' type='file' id='image'/>
                        </form>
                    </div>
                    <div class="form-group">
                        <label class="material_radio_group" for="radio1{{$index}}">
                            <input type="radio" name="radiobox{{$index}}" id="radio1{{$index}}"
                                   class="material_radiobox"
                                   ng-click="data.rating = 1; data.attachment = fileUploadData"/>
                            <span class="material_check_radio"></span>
                            Rating 1
                        </label>
                        <label class="material_radio_group" for="radio2{{$index}}">
                            <input type="radio" name="radiobox{{$index}}" id="radio2{{$index}}"
                                   class="material_radiobox"
                                   ng-click="data.rating = 2; data.attachment = fileUploadData"/>
                            <span class="material_check_radio"></span>
                            Rating 2
                        </label>
                        <label class="material_radio_group" for="radio3{{$index}}">
                            <input type="radio" name="radiobox{{$index}}" id="radio3{{$index}}"
                                   class="material_radiobox"
                                   ng-click="data.rating = 3; data.attachment = fileUploadData"/>
                            <span class="material_check_radio"></span>
                            Rating 3
                        </label>
                        <label class="material_radio_group" for="radio4{{$index}}">
                            <input type="radio" name="radiobox{{$index}}" id="radio4{{$index}}"
                                   class="material_radiobox"
                                   ng-click="data.rating = 4; data.attachment = fileUploadData"/>
                            <span class="material_check_radio"></span>
                            Rating 4
                        </label>
                    </div>

                    <div class="form-group materail_input_block">
                            <textarea class="form-control materail_input material_textarea" placeholder="Information"
                                      ng-model="data.comment" ng-keyup="data.attachment = fileUploadData"></textarea>
                    </div>
                    <hr/>
                </div>
                <button class="btn btn-default material_btn material_btn_primary" ng-click="saveAssessment()">Save
                </button>
            </div>
        </div>

    </div>

</section>