<desk-header></desk-header>
<desk-sidebar></desk-sidebar>
<section class="container-fluid">
    <div class="tempFormWrapper">
        <a href="" ng-click="getCategoriesFunction()"> Back to main Category</a>
        <div class="row">
            <button class="repeatAnimation btn btn-{{categoryColor}}" ng-repeat="data in categories" style="margin: 10px; height: 100px; width: 100px" ng-click="categoryChange(data.value)" >{{data.label}}</button>
        </div>
        <desk-popup title="You Selected" visible="showModal">
            <h4>{{subCategories}}</h4>
            <!--<form role="form">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" />
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>-->
        </desk-popup>
    </div>
    <div class="advancedDemo container">
        <div ng-repeat="list in categories" class="col-md-4">
            <div class="dropzone box box-yellow">
                <h3>Category {{$index + 1}}</h3>
                <ul dnd-list="list.value">
                    <!-- The dnd-draggable directive makes an element draggable and will
                         transfer the object that was assigned to it. If an element was
                         dragged away, you have to remove it from the original list
                         yourself using the dnd-moved attribute -->
                    <li ng-repeat="item in list.value"
                        dnd-draggable="item"
                        dnd-moved="list.value.splice($index, 1)"
                        dnd-effect-allowed="move"
                        dnd-selected="models.selected = item"
                        ng-class="{'selected': models.selected === item}"
                            >
                        <!--{{item.label}}-->
                        Principle {{$index + 1}}
                        <div class="container-element box box-blue">
                            <ul dnd-list="item.value"
                                class="itemlist"
                                dnd-allowed-types="['itemType']">
                                <!-- The dnd-draggable directive makes an element draggable and will
                                     transfer the object that was assigned to it. If an element was
                                     dragged away, you have to remove it from the original list
                                     yourself using the dnd-moved attribute -->
                                <li ng-repeat="i in item.value"
                                    dnd-draggable="i"
                                    dnd-type="'itemType'"
                                    dnd-moved="item.value.splice($index, 1)"
                                    dnd-effect-allowed="move"
                                    dnd-selected="models.selected = i"
                                    ng-class="{'selected': models.selected === i}"
                                        >
                                    Que {{$index + 1}}
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>
