<desk-header></desk-header>
<style>

    li {
        margin-left: 20px;
    }


</style>

<section class="container-fluid">
    <div class="container" style="margin-top: 100px">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel panel-heading">Templates</div>
                <div class="panel-body">

                    <ul id="tree" ng-repeat="task in roleList">
                        <li>
                            <label>
                                <input type="checkbox" value="{{task.templateID}}"/>
                                {{task.templateName}}</label>
                            <ul ng-repeat="t in task.categoryList">
                                <li>
                                    <label>
                                        <input type="checkbox" value="{{t.catrgoryID}}"/>
                                        {{t.catrgoryName}}</label>
                                    <ul ng-repeat="ta in t.principleList">
                                        <li>
                                            <label>
                                                <input type="checkbox" value="{{ta.principleID}}"/>
                                                {{ta.principleName}}</label>
                                            <ul ng-repeat="tas in ta.questionnaireList">
                                                <li>
                                                    <label>
                                                        <input type="checkbox" value="{{tas.qID}}"/>
                                                        {{tas.name}}</label>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <!--<ul ng-repeat="t in task.categoryList">
                            <li>
                                <label>
                                    <input type="checkbox" value="{{t.catrgoryID}}"/>
                                    {{t.catrgoryName}}</label>
                            </li>
                        </ul>-->
                    </ul>


                </div>
                    </div>
                </div>


        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel panel-heading">User</div>
                <div class="panel-body">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <button type="button" class="btn btn-default material_btn material_btn_primary btn-block">Save</button>
            <br>
            <br>
        </div>
    </div>
</section>
