<footer class="container-fluid">
    <div class="row">
        <!--<div class="col-lg-3 col-md-3 col-sm-3">
            <h3 class="text-center"><a href="">Link Section 1</a></h3>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <h3 class="text-center"><a href="">Link Section 2</a></h3>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <h3 class="text-center"><a href="">Link Section 3</a></h3>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <h3 class="text-center"><a href="">Link Section 4</a></h3>
        </div>-->
        <h3 class="text-center"><a href="">FOOTER</a></h3>
    </div>
</footer>